{% extends 'model-page.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4 text-center text-dark fw-bold">Configuração do Ativo</h2>
        {% if messages %}
            <div class="mb-4">
                {% for message in messages %}
                    <div class="alert alert-danger border border-danger text-dark fw-bold alert-dismissible fade show" role="alert">
                        <i class="fas fa-exclamation-triangle me-2"></i> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="card shadow-lg rounded-4 bg-dark text-light p-4">
            <form action="submit" method="post">
                {% csrf_token %}
                <div class="fw-bold">
                    {{ form|crispy }}
                </div>
                
                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-primary btn-lg fw-bold px-4">
                        <i class="fas fa-save me-2"></i>Salvar
                    </button>
                    <a href="/" class="btn btn-outline-light btn-lg fw-bold px-4">
                        <i class="fas fa-times me-2"></i>Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
