<footer class="bg-secondary text-white py-4 mt-5">
    <div class="container text-center">

        <div class="social-links my-2">
            <a href="https://github.com/tassandro/ChallengInoa" target="_blank" class="text-white mx-2 social-link">
                <i class="fab fa-github fa-lg"></i>
            </a>
            <a href="https://www.linkedin.com/in/tassandro-cavalcante-85226b239/" target="_blank" class="text-white mx-2 social-link">
                <i class="fab fa-linkedin fa-lg"></i>
            </a>
            <a href="mailto:tassandro412@gmail.com" class="text-white mx-2 social-link">
                <i class="fas fa-envelope fa-lg"></i>
            </a>
        </div>

        <small>Feito por <strong class="text-white">Tassandro</strong></small>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"></script>

<style>
    .social-link:hover {
        color: #17a2b8 !important; 
    }
</style>
